extends ../layout/admin

block styles
    link(rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css")

block contenido
    .py-10 
        h1(class="text-4xl my-10 font-extrabold text-center") Bienes 
            span.font-normal Raíces
        h2(class="text-center text-2xl font-extrabold")=titulo

        div(class="bg-white shadow py-8 px-4 rounded mx-auto max-w-4xl my-10 md:px-10")
            form.space-y-8(method="POST" action="/propiedades/crear")
                input(type="hidden" name="_csrf" value= csrfToken)
                div.space-y-5
                    h3.text-lg.leading-6.font-medium.text-gray-900 Información General
                    p.text-gray-600 Añade información sobre la propiedad en venta
                
                        
                    input(
                        class="w-full py-3 bg-indigo-600 hover:bg-indigo-700 rounded text-white font-bold uppercase cursor-pointer" 
                        type="submit" 
                        value="Publicar Propiedad"
                    )
block scripts
