extends ../layout/index 

block contenido
    .py-10 
        h1(class="text-4xl my-10 font-extrabold text-center") Bienes 
            span.font-normal Raíces
        h2(class="text-center text-2xl font-extrabold")=titulo

        div(class="bg-white shadow py-8 px-4 rounded mx-auto max-w-4xl my-10 md:px-10")
            form.space-y-8
                div.space-y-5
                    h3.text-lg.leading-6.font-medium.text-gray-900 Información General
                    p.text-gray-600 Añade información sobre la propiedad en venta
                    div
                        label.block.text-sm.uppercase.text-gray-600.mb-2.font-bold(for="titulo") Título de Anuncio
                        input#titulo.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(
                            placeholder="Título Propiedad, ej. Casa en la Playa"
                            type="text"
                            name="titulo")



