header.bg-indigo-600.p-4
    .container.mx-auto.flex.justify-between.items-center
        h1.text-2xl.text-white.font-extrabold.text-center Bienes 
            span.font-normal Riaces
        nav(class="my-5 text-sm md:flex md:items-center font-bold text-white md:gap-3 hidden") 
            a(herf="") Mis Propiedades  
            a(herf="") Mi Perfil 
            a(class="bg-indigo-800 py-2 px-10 rounded-lg hover:bg-indigo-900 cursor-pointer" herf="") Cerrar Sesión 